//
// custom common styles 
//  _____________________________________________

.clearer {
    clear: both;
}

//
// custom homepage styles 
//  _____________________________________________

.cms-home {
	.page-main {
	    max-width: 100%;
	    padding: 0;
	    margin: 0 auto;
	}
	.section-inner {
	    max-width: 1000px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    padding: 50px 0;
	}
	.block-search {
    	margin-bottom: 0px;
	}
	h1 {
	    line-height: 1.5em;
	    color: #0074a9;
	    margin-bottom: 20px;
	}
	span.underline {
	    width: 100%;
	    max-width: 200px;
	    height: 3px;
	    background: #0074a9;
	    display: inline-block;
	    margin-bottom: 50px;
	}
	h2 {
	    line-height: 1.5em;
	}
	.hp-catlist li {
	    width: 20%;
    	padding: 0px 2.5%;
	    float: left;
	    list-style: none;
	}
	.top-cat-section {
		background: #000 url("../images/top-cat-bg.jpg") no-repeat center;
		background-size: cover;

		ul.hp-catlist {
			padding: 0 10px;
		}

		h1 {
			color: #e5e5e5;
		}

		span.underline {
			background: #e5e5e5;
		}

		p {
		    color: #e5e5e5;
		    font-weight: 300;
		}

		img {
		    max-width: 100px;
		    width: 100%;
		}
	}

	.product-item-details {
    	text-align: left;
	}

	a.action.tocompare {
    	display: none !important;
	}
}

.footer-banner-block {
    text-align: center;
    height: 160px;
    font-size: 21px;
    line-height: 30px;
    background-image: url(../images/mcap-banner.jpg);
    background-size: cover;
    padding-top: 40px;

    a {
    	color: #f9f9f9;

    	&:hover {
    		text-decoration: none;
    	}
    }

    .lg-font {
    	text-transform: uppercase;
	    letter-spacing: 2px;
	    font-weight: 600;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

.cms-home {
	h1 {
	    font-size: 24px;
	}
	h2 {
	    font-size: 18px;
	}
	.column.main .product-items {
    	margin-left: 0;
	}
	.column.main .product-item {
    	padding: 0 2%;
    	width: 48%;
	}
	.products-grid .product-item {
    	margin-bottom: 30px;
    	text-align: left;
	}
	.top-cat-section p {
		font-size: 12px;
	}
}
.footer-banner-block {
	font-size: 16px;

	.lg-font {
		font-size: 30px;
	}

	p {
    	margin: 0;
	}
}
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

.cms-home {
	.block-search {
	    position: absolute;
	    max-width: 100%;
	    text-align: center;
	    top: 150px;
	}
	form#search_mini_form {
	    max-width: 1240px;
	    margin: 0 auto;
	    position: relative;
	}
	h1 {
	    font-size: 32px;
	}
	h2 {
	    font-size: 24px;
	}
	.top-cat-section p {
		font-size: 18px;
	}
}

.footer-banner-block .lg-font {
	font-size: 48px;
}

}