// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: #00A7D7;
@product-name-link__color__active: #0074A9;
@product-name-link__color__hover: #0074A9;
@product-name-link__color__visited: #00A7D7;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: none;
@product-name-link__text-decoration__hover: none;
@product-name-link__text-decoration__visited: none;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &.name a {
            font-weight: 800;
        }
        
        &-item {
            vertical-align: top;
            
            .products-grid & {
                display: inline-block;
                width: 100%/2;
            }
            
            &:extend(.abs-add-box-sizing all);

            &-name {
                font-weight: 800;

                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                font-weight: 800;

                a {
                    font-weight: 800;
                }
            }

            &-info {
                max-width: 100%;
                width: 152px;
                
                .page-products & {
                    width: 240px;
                }
            }

            &-actions {
                //display: none;
                
                .actions-secondary {
                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        
                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }
            
            &-description {
                margin: @indent__m 0;
            }
            
            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }
                
                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: @indent__s 0 @indent__m;
                
                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }
                
                .price-label {
                    .lib-css(color, @text__color__muted);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;
                
                .price {
                    font-weight: normal;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }
            
            .tocart {
                .lib-font-size(14px);
                border-radius: 0;
                line-height: 1;
                white-space: nowrap;
                text-transform: lowercase;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: -@indent__base;
            }
            
            &-item {
                padding-left: @indent__base;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }
            
            &:after {
                content: ')';
            }
            
            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;
                border-bottom: 1px solid #ccc;
                margin-bottom: 40px;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            //margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 10px;
            width: 50%;
            
            > .action {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        
        .actions-primary {
            display: table-cell;
        }
    }

    .grid.products-grid a.action.more {
        display: none;
    }

    .list.products-list {

        .product.name a {
            font-weight: 400;
            font-size: 18px;
        }

        .prod-short-desc {
            font-size: 16px;
        }

        .product-item .price-box .price {
            font-size: 18px;
            color: #0074A9;
        }

        .product-item-actions .actions-primary {
            padding: 20px 0;
        }

        .product-item-actions .actions-primary + .actions-secondary {
            padding-top: 6px;
        }

        a.action.more {
            color: #bbb;
            font-size: 16px;

            .lib-icon-font(
            @_icon-font-content: @icon-next,
            @_icon-font-size: 13px,
            @_icon-font-position: after,
            @_icon-font-display: block
            );

            &:after {
                margin-left: 10px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .list.products-list .product-item-actions .actions-primary {
        padding: 20px 0;
    }
    .product-item .tocart {
        padding: @indent__s;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            /*
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .lib-css(box-shadow, @product-item__hover__box-shadow);
                border: 1px solid @color-gray-light2;
                margin: -10px;
                padding: 9px;
                position: relative;
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
            }
            */
        }
    }

    .product-item-inner {
        .products-grid & {
            /*
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 9px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
            */
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    /*
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                    */
                }
            }
        }

        .product-item-actions {
            //position: relative;
            //z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        //&:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }

    .list.products-list {

        .list-prod-info {
            display: inline-block;
            width: 50%;
        }
        .product-item-inner {
            display: inline-block;
            vertical-align: top;
            float: right;
            margin-top: 30px;
        }

        .product-item-actions .actions-primary {
            float: right;
            margin-left: 15px;
            padding: 0;
        }
    }

    .product-item .tocart {
        padding: @indent__s 30px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }
            
            .product-item {
                margin-left: calc(~'(100% - 4 * 24.439%) / 3');
                padding: 0;
                width: 24.439%;

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
