.fmenu-left-col {width: 60%; float: left;}
.footer-menu-container h3 {color: #4e8490; margin-bottom: 20px;}
.fmenu-col {width: 40%; padding-right: 5%; float: left;}
.page-footer .fmenu-col ul li {margin-bottom: 15px;}
.fmenu-col ul li a{color: #525252;}
.fmenu-right-col {float: right; width: 35%;}
.footer.content .fmenu-right-col ul li {list-style:none; display: inline-block; margin:0 3px;}
.copyright {background: #231f20; text-align: center; padding: 10px 0; color: #fff;}

.abs-action-print:before {font-family: 'icons-blank-theme';}
.navigation .level0.more:after {font-family: 'icons-blank-theme';}
.opc-progress-bar-item._complete > span:after {font-family: 'icons-blank-theme';}
.opc-progress-bar-item._active > span:after {font-family: 'icons-blank-theme';}
.page-product-giftcard .product-add-form .field:not(.text) .note:before {font-family: 'icons-blank-theme';}
.page-header {background: #000;}
.header.links { margin-top: 62px; padding-left: 15px;}
.header.links li {list-style: none;}		
.header.links li a {color: #8c8c8c;}
.header .links .fa {font-size: 1.6em;}
.cms-home .block-search {z-index: 1;}
.page-layout-1column .block.widget .products-grid .product-item{width: 15.66666667%;}
.cms-home .top-cat-section ul.hp-catlist{display: flex;flex-flow: wrap row;}
.cms-home .top-cat-section ul.hp-catlist li{box-sizing: border-box;padding: 0px 10px;width: 25%;}
header .minicart-wrapper .action.showcart::before{line-height: 28px !important;}
header .minicart-wrapper{margin-top: 60px;}
