@media screen and (min-width: 768px) {
	header .navigation .level0.parent:hover > .submenu {overflow: visible !important;display: block;z-index: 99;}
	header .navigation{width: auto;float: right;background: none;margin: 49px 0 0;}
	header .navigation > ul, header .navigation ul .level0{float: left;}
	header .navigation .level0 > .level-top {color: #fff !important;line-height: 47px;font-size: 20px !important;font-weight: 300;position: relative;display: block !important;}	
	header .navigation .level0:hover > .level-top span{font-weight: 500;color: #fff;}	
	header .navigation .parent:hover > .level-top::after {content: "\f107";display: inline-block;font-family: FontAwesome;font-size: 33px;color: #fff;position: absolute;left: 0;bottom: -41px;line-height: normal;right: 0;margin: auto;width: 20px;height: 20px;line-height: 20px;}
	header .navigation .level0{padding-bottom: 53px;}
	header .navigation, header .navigation ul, header .navigation .level0{position: static;}
	header .navigation .level0 .submenu{width: 100%;min-width: 100%;}
	header .navigation .level0 .submenu{top: 100%;background: #f0f0f0;border-top: 10px solid #00a9db;box-shadow: 0 4px 4px rgba(0,0,0,0.3);max-width: 1240px;min-width: initial;left: 0;right: 0;margin: auto !important;}
	header .navigation .level0 .submenu .row > .subchildmenu.mega-columns{width: 404px;background: #e5e5e5;padding: 0;position: relative;min-height: 550px;}
	header .navigation .level1 > .subchildmenu-div{position: absolute;left: 100%;top: 0;width: 837px;height: 100%; overflow: hidden;overflow-y: hidden;overflow-y: auto;display: none;padding:40px 20px 40px 80px;box-sizing: border-box;}
	header .navigation .level1.result_hover:hover > .subchildmenu-div{display: block;}
	header .navigation .level1.default_result_hover > .subchildmenu-div{display: block;}
	header .navigation .level1.result_hover > a, header .navigation .level1.default_result_hover > a{background: #f0f0f0;color: #05a7d5;}
	header .navigation .level0 .submenu a:hover, header .navigation .level0 .submenu a.ui-state-focus{background: #f0f0f0;color: #05a7d5;text-decoration: none;}
	header .navigation .subchildmenu > li.level1{margin: 0;}
	header .navigation .level1 > .subchildmenu-div > .subchildmenu{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;-webkit-column-width: 200px;-moz-column-width: 200px;column-width: 200px;}
	header .navigation .level1 > .subchildmenu-div > .subchildmenu .level2{margin-bottom: 0 !important;width: 230px !important;float: none;display: inline-block;vertical-align: top;}
	header .navigation .level1 > .subchildmenu-div > .subchildmenu .level2 > a{border-bottom: 2px #4492b8 solid;padding: 10px 0;color: #4492b8;font-size: 16px;} 
	header .navigation .level1 > .subchildmenu-div > .subchildmenu .level2.parent > .subchildmenu{padding: 20px 0 50px;} 
	header .navigation .level1 > .subchildmenu-div > .subchildmenu .level2.parent > .subchildmenu li{margin: 0;} 
	header .navigation .level1 > .subchildmenu-div > .subchildmenu .level2.parent > .subchildmenu li a{padding: 7px 0;} 

	/*Single Category Dropdown Desgin*/
	header .navigation .level0.classic{position: relative;}
	header .navigation .level0.classic:hover > .submenu {left: initial !important;max-width: 400px;width: 250px;max-height: 550px;overflow: hidden !important;overflow-y: auto !important;}
	header .navigation .level0.classic:last-child:hover > .submenu {right: 0 !important;}
	header .navigation .level0.classic .submenu ul.subchildmenu{margin: 0;padding:10px 0;}
}

@media (max-width: 1242px){
	header .navigation .level0 .submenu{max-width: initial;	min-width: initial;	left: 20px;	right: 20px;width: initial;}
	header .navigation .level0 .submenu .row > .subchildmenu.mega-columns{width: 324px;}
	header .navigation .level1 > .subchildmenu-div{width: 660px;padding: 40px 20px 40px 40px;}
	.block.block-search{max-width: 100%;padding: 0 20px;box-sizing: border-box;}
}
@media (min-width: 768px) and (max-width: 980px){
	header .header.links {	margin-top: 0;	margin-bottom: 0;}
	header .sections.nav-sections{float: right;clear: none;}
	header .navigation .level0 > .level-top{font-size: 16px !important;padding: 0 4px;}
	header .navigation{margin: 29px 0 0;}
	header .navigation .level0 {padding-bottom: 23px;}
	header .navigation .level0:hover > .level-top::after{bottom: -16px;}
	header .navigation .level1 > .subchildmenu-div{width: 402px;text-align: left;}
	.cms-home .page-wrapper .block-search{top: 100px;}
	header .navigation .level0 .submenu .row > .subchildmenu.mega-columns{text-align: left;}
	header .navigation .level0 .submenu{text-align: left;}
	header .navigation .level0.classic:hover > .submenu{width: 210px;}

	header .minicart-wrapper .action.showcart .counter.qty{position: absolute;top:-14px;right:-10px;border-radius: 50%;}
	header .minicart-wrapper {	margin-top: 39px;}
}
@media (max-width: 767px){
	header .header.links {margin-top: 16px;width: auto;float: right;margin-bottom:0;}
	header .minicart-wrapper .block-minicart{right: -31px;}
	header .minicart-wrapper .block-minicart::before{right: 40px;}
	header .minicart-wrapper .block-minicart::after{right: 39px;}
	header .logo{max-width: 160px;}
	.page-wrapper header.page-header{margin-bottom: 0;}
	.page-wrapper .block.block-search {max-width: 100%;padding: 0 20px;box-sizing: border-box;background: #00a7d8;padding: 15px;margin: 0;}
	.page-wrapper .block-search .control {	border-top: none;	clear: both;	margin: 0;	padding: 0;}
	.page-wrapper .block-search .field.search {position: relative;}
	.page-wrapper .block-search input {	left: 0;	margin: 0;	position: static;	height: 50px;	border: none;padding: 0 50px 0 20px;}
	.page-wrapper .block-search .field.search .label{position: absolute;right: 7px;top: 8px;}
	.page-wrapper .block-search #search_mini_form{position: relative;}
	.page-wrapper .block-search #search_mini_form .actions{position: absolute;right: 0;top:0 ;}
	.page-wrapper .block-search #search_mini_form .actions{display: block;width: 48px;height: 50px;font-size: 0;opacity: 0;cursor: pointer;pointer-events: initial;}
	header .navigation .level0 > .submenu{display: none;}
	header .navigation .level0 .submenu .row > .subchildmenu.mega-columns {	width: 100%;padding: 0;}
	header .navigation .level0 .submenu{right: 0;}
	header .navigation .level1 > .subchildmenu-div{width: 100%;padding: 0;}
	.navigation .level0{position: relative;}
	.open-children-toggle{width: 57px;height: 40px;position: absolute;right: 0;top: 0;}
	.minicart-wrapper {	margin-top: 10px;}
	header .minicart-wrapper {margin-top: 13px;}
	header .minicart-wrapper .action.showcart .counter.qty{position: absolute;right: -10px;top: -15px;border-radius: 50%;}
}
